In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import cv2
from PIL import Image
%matplotlib inline

In [4]:
import pickle

In [6]:
# Load pickle data
df = pickle.load(open('./data/dataframe_images_100_100.pickle','rb'))

In [7]:
df.head()

,gender,0,1,2,3,4,5,6,7,8,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,female,19,20,20,16,17,23,30,35,38,...,210,209,196,159,31,16,12,13,11,12
1,female,253,253,254,254,254,254,253,253,242,...,86,58,24,18,13,13,16,18,19,16
2,female,15,10,9,15,20,19,18,14,14,...,32,95,134,93,82,117,51,74,44,32
3,female,255,255,255,255,255,255,254,255,255,...,106,105,105,108,112,112,115,116,117,118
4,female,145,139,140,131,136,118,126,123,108,...,93,90,82,81,88,102,82,89,98,97

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5450 entries, 0 to 6043
Columns: 10001 entries, gender to 9999
dtypes: object(1), uint8(10000)
memory usage: 52.1+ MB

In [10]:
#checking for missing values
df.isnull().sum()

gender    0
0         0
1         0
2         0
3         0
         ..
9995      0
9996      0
9997      0
9998      0
9999      0
Length: 10001, dtype: int64

# Data Preprocessing
- Remove missing
- Data Normalization (min max scaling)

In [11]:
# remove missing value
df.dropna(axis=0,inplace=True)

In [13]:
df.isnull().sum()

gender    0
0         0
1         0
2         0
3         0
         ..
9995      0
9996      0
9997      0
9998      0
9999      0
Length: 10001, dtype: int64

In [14]:
# split the data into two parts
X = df.iloc[:,1:].values
y = df.iloc[:,0].values

In [16]:
X.shape

(5450, 10000)

In [17]:
X.min(), X.max()

(0, 255)

In [18]:
Xnorm = X/ X.max()

In [19]:
Xnorm

array([[0.0745098 , 0.07843137, 0.07843137, ..., 0.05098039, 0.04313725,
        0.04705882],
       [0.99215686, 0.99215686, 0.99607843, ..., 0.07058824, 0.0745098 ,
        0.0627451 ],
       [0.05882353, 0.03921569, 0.03529412, ..., 0.29019608, 0.17254902,
        0.1254902 ],
       ...,
       [0.94117647, 0.93333333, 0.9254902 , ..., 0.8627451 , 0.8627451 ,
        0.8627451 ],
       [0.88235294, 0.87058824, 0.85490196, ..., 0.30196078, 0.32941176,
        0.30588235],
       [0.36078431, 0.36078431, 0.35294118, ..., 0.91372549, 0.92156863,
        0.91764706]])

In [20]:
Xnorm.shape

(5450, 10000)

In [21]:
y

array(['female', 'female', 'female', ..., 'male', 'male', 'male'],
      dtype=object)

In [22]:
y_norm = np.where(y=='female',1,0)

In [23]:
y_norm

array([1, 1, 1, ..., 0, 0, 0])

In [25]:
#saving x and y
np.savez('./data/data_100_100_norm', Xnorm, y_norm)